

  body {
    background-color: rgb(5, 5, 5);
    color: white;

  }

  header {
    background: linear-gradient(280deg, #8f0094, #ff7300);
    padding-bottom: auto;
    margin-top: auto;
    width: 100%;
    border-radius: 50px;
    height: 150px
  }
  .head {
    text-align: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    text-emphasis: bold;
    text-align: center;
    text-decoration: underline;
  }

  nav ul li {
    display: inline-flexbox;
    margin-right: 20px;
    font-size: 20px;
    overflow: hidden;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }
  p {
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }
  .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding: 48px;
    transition: 0.3s ease-in-out;

  }
  .images img:hover {
    transform: scale(0.8);
  
  }


  
 
